.layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.container {
  display: flex;
  flex: 1;
  position: relative;
}

.content {
  flex: 1;
  background-color: var(--bg-main);
  min-height: calc(100vh - var(--navbar-height));
  padding: 20px;
  transition: none; 
}
